{% include 'base.html' %}
{% load i18n %}
<div class="anasayfa icon page-back-icon paper-plane-o">
    {% block content_title %}<h1 class="titles">{{ title|lower }}</h1>{% endblock %}
    {% block content %}

    <p>
        yeni parolanız belirleyebilmeniz için size e-mail attık. birazdan gelir herhalde.
    </p>

    <p>
        <strong style="color: red">eğer bir e-mail almadıysanız:</strong>
        <ul>
            <li><strong style="color: green">doğru e-maili</strong> yazdığınıza</li>
            <li>e-mail hesabınızın <strong>spam</strong> kısmına baktığınızdan</li>
        </ul>
        emin olun efendism.
    </p>

    {% endblock %}
</div>