{% include 'base.html' %}
{% load i18n %}
<div class="anasayfa icon page-back-icon password-icon">
    {% block content_title %}<h1 class="titles">{{ title|lower }}</h1>{% endblock %}
    {% block content %}

    {% if validlink %}
    <p>yeni parolanızı iki kez girinki böylece biz de doğrulayabilelim efendism.</p>

    <form action="" method="post">
        {% csrf_token %}
        <div class="input-group" title="yeni şifreniz">
            <label class="input-group-label icon password-icon" for="id_new_password1"></label>
            {{ form.new_password1 }}
        </div>
        {{ form.new_password1.errors }}
        <div class="input-group" title="yeni şifrenizin onayı">
            <label class="input-group-label icon password-icon" for="id_new_password2"></label>
            {{ form.new_password2 }}
        </div>
        {{ form.new_password2.errors }}
        <input class="submit-button" type="submit" value="değiştir anam" />
    </form>
</div>
    {% else %}
<div class="anasayfa icon page-back-icon exclamation-triangle-icon">
    <p>
        bu bağlantı artık geçersiz, bizi kandırmaya çalışmayın efendism!
    </p>
</div>
    {% endif %}

    {% endblock %}

