{% include 'base.html' %}
<title>şifreni değiştir - sözlük</title>
<div class="anasayfa icon page-back-icon password-icon">
    <h1 class="titles">şifreni değiştir</h1>
    {% if status == "1" %}
        <p style="color: red">girdiğiniz şifre eski şifreniz ile uyuşmuyor efendism, yoksa siz...</p>
    {% elif status == "2" %}
        <p style="color: red">yazdığınız yeni şifreleriniz uyuşmuyor efendism</p>
    {% elif status == "3" %}
        <p style="color: red">eski şifrenizi boş bırakamazsınız efendism</p>
    {% elif status == "4" %}
        <p style="color: red">yeni şifrenizi boş bırakamazsınız efendism</p>
    {% elif status == "5" %}
        <p style="color: green">şifreniz başarı ile değiştirildi efendism</p>
    {% endif %}
    <form action method="post">
        {% csrf_token %}
        <div class="input-group">
            <label class="input-group-label icon password-icon" for="id_oldpass"></label>
            <input class="input-group-input" type="password" id="id_oldpass" name="oldpass" placeholder="eski şifreniz">
        </div>
        <div class="input-group">
            <label class="input-group-label icon password-icon" for="id_newpass1"></label>
            <input class="input-group-input" type="password" id="id_newpass1" name="newpass1" placeholder="yeni şifreniz">
        </div>
        <div class="input-group">
            <label class="input-group-label icon password-icon" for="id_newpass2"></label>
            <input class="input-group-input" type="password" id="id_newpass2" name="newpass2" placeholder="yeni şifrenizin onayı">
        </div>
        <input class="submit-button" type="submit" value="onayla">
    </form>
</div>