{% include 'base.html' %}
<title>kayıt ol - sözlük</title>
<div class="anasayfa icon page-back-icon register">
    <h1 class="titles">yeni kullanıcı kaydı</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.form.non_field_errors }}
        <div class="input-group">
            <label class="input-group-label icon username-icon" for="{{ form.form.username.id_for_label }}"></label>
            {{ form.form.username }}
        </div>
        {{ form.form.username.errors }}
        <div class="input-group">
            <label class="input-group-label icon email-icon" for="{{ form.form.email.id_for_label }}"></label>
            {{ form.form.email }}
        </div>
        {{ form.form.email.errors }}
        <div class="input-group">
            <label class="input-group-label icon password-icon" for="{{ form.form.password1.id_for_label }}"></label>
            {{ form.form.password1 }}
        </div>
        {{ form.form.password1.errors }}
        <div class="input-group">
            <label class="input-group-label icon password-icon" for="{{ form.form.password2.id_for_label }}"></label>
            {{ form.form.password2 }}
        </div>
        {{ form.form.password2.errors }}
        <input class="submit-button" type="submit" value="kayıt ol" />
    </form>
</div>